h1{
    text-align: center;
     /* padding: 500px; */
     /* margin-bottom: 100px; */
     margin-top: 25%;
     color: lightblue;
     padding: 2%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.myMargin{
     /* height:10px ; */
     margin-top: 3%; 
     margin-left: 38%; 
    padding: 1%;
    text-align: center;
    color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#back{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;

    }
    /* #back{
        background-size: cover;
        /* color: antiquewhite; */
        /* background-repeat: no-repeat; */
        /* height: 100%; */
    
    /* } */ 